HELP.md
.gradle
build/
src/video/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/food_db_result_final.xlsx
/model_params.pkl
/src/main/resources/temp.xlsx
/src/main/resources/temp.xlsx.bak
/conf/maria/init-sql/user.sql
/conf/maria/init-sql/051_create_food1.sql
/src/main/resources/food_db_result_final.csv